<article>
    {% if post.homedisplay == "iframe" %}
        {% if post.type == "vimeo" %}
            {% if post.vimeo-embed %}
                <div class="video-container">
                    {{ post.vimeo-embed }}
                </div>
            {% endif %}
        {% elsif post.type == "youtube" %}
            {% if post.yt-video-id %}
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/{{ post.yt-video-id }}?feature=player_detailpage" allowfullscreen></iframe>
                </div>
            {% endif %}
        {% elsif post.type == "audio" %}
            {% if post.audio-embed %}
                <div class="video-container">
                    {{ post.audio-embed }}
                </div>
            {% endif %}
        {% else %}
            {% if post.featimg %}
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}" class="noline">
                    <img src="{{ post.featimg }}">
                </a>
            {% endif %}
        {% endif %}
    {% else %}
        {% if post.featimg %}
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}" class="noline">
                    <img src="{{ post.featimg }}">
                </a>
        {% endif %}
    {% endif %}
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}">
        <h1>{{ post.title }}</h1>
    </a>
    <p class="post-content">{{ post.content | strip_html | truncatewords: 20 }}</p>
</article>
