<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.title }}{% endif %}" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.title }}{% endif %}" />
<meta property="og:image" content="{{ page.featimg }}" />
<meta property="og:site_name" content="..." />
<meta property="og:type" content="article" />

<meta name="twitter:card" content="summary"  />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.title }}{% endif %}" />
<meta name="twitter:image" content="{{ page.featimg }}" />
<meta name="twitter:site" content="{{ site.twitter_site }}" />
<meta name="twitter:creator" content="{{ site.twitter_creator }}" />

<link rel="stylesheet" href="{{ site.baseurl | replace: '//', '/' }}/css/main.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel="stylesheet" id="color-change" href="">
<link rel="stylesheet" id="switch-style" href="{{ site.baseurl | replace: '//', '/' }}/css/grid.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>